<!doctype html>
<html lang="en">
  <head>
    <title>Buy Ticket</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
   <div class="main">
    <h1>Buy a Ticket</h1>
    <form action="/buy" method="post">
      <label>Your Name:</label>
      <input type="text" name="buyer_name" placeholder="Enter Your Name Here!" required>
      <button type="submit">Submit Name</button>
    </form>

    <div class="card-container">
      <div class="card">
        <img src="/templates/images/engineer.jpg" alt="Nairobi Skyline">
        <div class="card-content">
          <div class="date-time">Saturday May 18, 2025 &nbsp;&nbsp; 6:00 PM</div>
          <div class="tagline">KENYA CULTURE NIGHT</div>
          <h3>NAIROBI MUSIC FESTIVAL</h3>
          <p>Celebrate Kenyan music and heritage with live performances from top local artists at the KICC grounds.</p>
        </div>
        <a href="#" class="btn">BUY TICKETS</a>
      </div>
  
      <div class="card">
        <img src="/templates/images/bony.jpg" alt="Kenyan Wildlife Photography">
        <div class="card-content">
          <div class="date-time">Sunday May 19, 2025 &nbsp;&nbsp; 10:00 AM</div>
          <div class="tagline">NATURE & WILDLIFE</div>
          <h3>WILDLIFE PHOTO EXHIBITION</h3>
          <p>Join top photographers showcasing Kenya's rich wildlife heritage at the Nairobi National Museum.</p>
        </div>
        <a href="#" class="btn">BUY TICKETS</a>
      </div>
  
      <div class="card">
        <img src="/templates/images/de.jpg" alt="Tito">
        <div class="card-content">
          <div class="date-time">Friday May 24, 2025 &nbsp;&nbsp; 5:00 PM</div>
          <div class="tagline">TASTE OF KENYA</div>
          <h3>NAIROBI FOOD & DRINKS FAIR</h3>
          <p>Experience the best of Kenyan cuisine and beverages from top chefs and local food vendors at Uhuru Gardens.</p>
        </div>
        <a href="#" class="btn">BUY TICKETS</a>
      </div>
    </div>
   </div>
  </body>
</html>
